<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389859678377-i635sb6akjbi1rp6g0oekdrh91ub2v3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389859678377-i635sb6akjbi1rp6g0oekdrh91ub2v3f</string>
	<key>API_KEY</key>
	<string>AIzaSyA76DlnappRcST0gYaRtcyEMMz2SsoA_Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>389859678377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rusipeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rusipe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rusipe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389859678377:ios:36f67922afe33ac00bb1b8</string>
</dict>
</plist>